.btnToggle {
    position: relative;
    display: flex;

    input[type=checkbox] {
        height: 0;
        width: 0;
        visibility: hidden;
        margin: 0;
    }

    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 26px;
        height: 14px;
        background: grey;
        display: block;
        border-radius: 100px;
        position: relative;
    }

    label:after {
        content: '';
        position: absolute;
        top: 1px;
        left: 1px;
        width: 12px;
        height: 12px;
        background: #fff;
        border-radius: 90px;
        transition: 0.3s;
    }

    input:checked+label {
        background: #9b4de0;
    }

    input:checked+label:after {
        left: calc(100% - 1px);
        transform: translateX(-100%);
    }

    label:active:after {
        width: 10px;
    }

}

.btnRadio {
    display: block;
    position: relative;
    padding-right: 35px;
    margin-bottom: 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    span {
        position: absolute;
        top: -2px;
        right: 0;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 1px solid #fff;

    }


    span:after {
        content: "";
        position: absolute;
        width: 14px;
        height: 14px;
        top: 2px;
        left: 2px;
        display: none;
        border-radius: 50%;
        background: #9b4de0;
    }

    input:checked~span {
        border-color: #9b4de0;
    }

    input:checked~span:after {
        display: block;
    }
}

.inputRange {
    overflow: hidden;
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background-color: #49494954;
    border-radius: 3px;
    &:hover {
        &::-webkit-slider-thumb {
            opacity: 1;
        }
    }

    &::-webkit-slider-runnable-track {
        height: 10px;
        -webkit-appearance: none;
        color: #ddd;
        margin-top: -1px;
    }

    &::-webkit-slider-thumb {
        width: 10px;
        -webkit-appearance: none;
        height: 10px;
        cursor: ew-resize;
        background: #ddd;
        box-shadow: -400px 0 0 400px #ddd;
    }
}